body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
   
}

.cards{
    display: flex;
    width: 100%;
    padding: 50px;
}

.cards .card {
    background-color: cyan;
    color: white;
    width: 300px;
    height: 350px;
    border-radius: 10px;
    padding: 30px;
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    transition: all 0.3s ease;
}

